@charset "utf-8";
@import url(./fonts/fonts.css);
/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.pr {position: relative; }
.pa {position: absolute ;}
.df {display: flex; }
.dg {display: grid; }
.db {display: block; }
.dib {display: inline-block; }

html {font-size: 67.5%;}
/* common */
body,
* {
  font-family: 'Lekton', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* font-weight:100,300,500,700 */
a {
  text-decoration: none;
}
p {
  font-size: 16px;
  line-height: 1.7;
  padding: 0;
  margin: 0 0 25px;
}
/* Scrollbar width */
::-webkit-scrollbar {
  width: 6px; /* 스크롤 바의 너비를 조정합니다 */
  
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #595959; /* 스크롤 바의 색상을 설정합니다 */
  border-radius: 10px; /* 둥근 모서리를 적용합니다 */
}

/* Scrollbar thumb:hover */
::-webkit-scrollbar-thumb:hover {
  background: #f6b846; /* 호버 시 색상을 변경합니다 */
}